/*stub style sheet*/

* {
        position: relative;
            font: 18px arial, helvetica, sans-serif;
     font-weight: bold;
           color: #e2e2e2;
    font-variant: small-caps;
  letter-spacing: 0.08em;
     text-shadow: 2px  2px 3px #252525, /* drop blur */
                  /* font stroke workaround example to not use webkit  */
                 -1px -1px 0   #252525,
                  1px -1px 0   #252525,
                 -1px  1px 0   #252525,
                  1px  1px 0   #252525;
}

body {
    padding-top: 40px;
    height: 96vh;
  align-content: center;
     background: linear-gradient(135deg, #bacede 0%, #6f99ba 51%, #4b789b 75%);
}

/*outer container to allow centering*/
#container {
   width: 680px;
  margin: 0 auto;
}

button {
          width: 150px;
        display: block; 
  border-radius: 5px;
  margin-bottom: 7px;
}

/*the two UI containers containing the .facs-box div*/
.container {
         display: inline-block;
  vertical-align: top;
     margin-left: 35px;
}

.facs-box {
          min-height: 250px;
               width: 300px;
       margin-bottom: 15px;
             padding: 5px 5px 11px 11px;
       border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px 0px 1px 3px #202020;
  -webkit-box-shadow: inset 0px 0px 1px 3px #202020;
     -moz-box-shadow: inset 0px 0px 1px 3px #202020;
      -ms-box-shadow: inset 0px 0px 1px 3px #202020;
       -o-box-shadow: inset 0px 0px 1px 3px #202020;
}

.facs-button-active {
  background-color: #ff6666;
}

.facs-button-disabled {
  display: none;
}

.facs-item {
            border: 1px solid black;
  background-color: #EEE;
            height: 32px;
             width: 200px;
           display: block;
        margin-top: 7px;
           padding: 6px 0px 0px 10px;
     align-content: left;
    vertical-align: middle;
}

.facs-item-selected {
  /*margin-left: 15px;  consider this for UX to rollover transition this property*/
    background-color: rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 0px black;
  -webkit-box-shadow: 0px 0px 2px 0px black;
     -moz-box-shadow: 0px 0px 2px 0px black;
      -ms-box-shadow: 0px 0px 2px 0px black;
       -o-box-shadow: 0px 0px 1px 0px black;
}